.header-catalog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px 0px 40px;
  align-items: flex-start;

  @media (min-width: 200px) and (max-width: 830px) {
    margin: 15px;
    width: 100%;
  }
}

.header-catalog-title {
  @media (min-width: 200px) and (max-width: 830px) {
    margin-top: 100px;
    width: 100%;
  }
}

.header-catalog-basket {
  margin-left: 100px;
}

.header-catalog-filter {
  margin-right: 50px;
}

.header-catalog-filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -40px;
  margin-right: 15%;

  @media (min-width: 834px) and (max-width: 1194px) {
    margin-right: 15%;
    margin-top: 40px;
  }

  @media (min-width: 200px) and (max-width: 830px) {
    margin-top: 70px;
    width: 100%;
    justify-content: center;
  }
}
