.header-catalog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header-catalog-logo {
}

.header-catalog-title {
}

.header-catalog-basket {
}
