.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (min-width: 200px) and (max-width: 830px) {
    scale: 0.8;
  }
}

.card-container {
  position: absolute;
  transition: all 0.6s ease-out;
  z-index: 1;
}

.nav {
  position: absolute;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    z-index: 2;
    left: 20px;
    &:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-out;
      opacity: 0.4;
    }
  }

  &.right {
    z-index: 2;
    right: 20px;
    &:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-out;
      opacity: 0.4;
    }
  }
}
