.carousel {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  @media (min-width: 200px) and (max-width: 830px) {
    overflow: hidden;
  }

  @media (min-width: 834px) and (max-width: 1194px) {
    overflow: hidden;
  }
}

.carousel-container {
  min-height: 641px;
  margin: 20px;
}

.card-container {
  position: absolute;
  transition: all 0.6s ease-out;
  z-index: 1;
}

.nav {
  position: absolute;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    z-index: 2;
    left: 0;
    top: 50%;
    &:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-out;
      opacity: 0.4;
    }
  }

  &.right {
    z-index: 2;
    right: 0;
    top: 50%;

    &:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-out;
      opacity: 0.4;
    }
  }
}
