.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}

.card-container {
  position: absolute;
  transition: all 0.7s ease-out;
}

.nav {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    left: 20px;
    &:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-out;
      opacity: 0.4;
    }
  }

  &.right {
    right: 20px;
  }
  &:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-out;
    opacity: 0.4;
  }
}
