.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.input {
  outline:none;

  width: 230px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #AFAFAF;
  padding-bottom: 10px;
  font-size: 16px;
}

.input-container::placeholder {
  color: #767676;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

input.middle:focus {
  outline-width: 0;
}
